//  ========================================================================
//
//    Artie front-end framework
//    https://github.com/indrekpaas/Artie
//    MIT licensed
//
//  ========================================================================


html {
  height: 100%;
}

body {
  background: #fff;
  min-height: 100%;
  overflow-y: scroll;
}
