//  ========================================================================
//
//    Artie front-end framework
//    https://github.com/indrekpaas/Artie
//    MIT licensed
//
//  ========================================================================


.SiteLogo {
  display: inline-block;

  svg {
    height: 4em;
    vertical-align: top;
    width: 10em;
  }
}
